<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233335687040-eld3irnji44k5juf3d1pds14o3hsdpje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233335687040-eld3irnji44k5juf3d1pds14o3hsdpje</string>
	<key>API_KEY</key>
	<string>AIzaSyBuvZ2BSmMlwmr5AiRsbTKreOvhY-fQ684</string>
	<key>GCM_SENDER_ID</key>
	<string>233335687040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ics125.iZotSnoozeTM</string>
	<key>PROJECT_ID</key>
	<string>anotherone-46ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>anotherone-46ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233335687040:ios:807d437c65f1aeda14a365</string>
</dict>
</plist>